
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Inici Tab -->
  <ion-tab title="Inici" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/inici">
    <ion-nav-view name="tab-inici"></ion-nav-view>
  </ion-tab>

  <!-- Cursos Tab -->
  <ion-tab title="Cursos" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/cursos">
    <ion-nav-view name="tab-cursos"></ion-nav-view>
  </ion-tab>

  <!-- Configuració Tab -->
  <ion-tab title="Configuració" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/configuracio">
    <ion-nav-view name="tab-configuracio"></ion-nav-view>
  </ion-tab>


</ion-tabs>
