/* Empty. Add your own CSS if you like */


.inici {
	width:100%;
    position:absolute;  
    visibility:visible; 
    z-index:1
}

.fondoPrincipal {
    width:100%;
}

.fondoSecundario {
    opacity: 1;
}

.contacto {
    margin: 0 auto;
}

.contingut{
    padding: 30px;
}

.titleConfiguracio {
    padding-left: 20px;
    padding-top: 10px;
}


